
/* Header */
/****************************************************************/
.documented-header {
    padding: 10px 25px;
}

.documented-header h1 {
    margin-top: 10px;
    font-size: 25px;
}

/* Body */
/****************************************************************/
.documented-body {

}

.documented-content {
    padding-top: 10px;
    padding-bottom: 25px;
}

.documented-page-header {
    margin-top: 10px;
}

.documented-author, .documented-date {
    font-size: 12px;
}

.documented-header-line {
    margin-top: 0;
}

/* Footer */
/****************************************************************/
.documented-footer {
    padding: 10px 25px;
}

.documented-copyright p {
    text-align: right;
}
