
body {
    background-color: #eee;
}

pre {
    background-color: #fff;
}

/* Header */
/****************************************************************/
.documented-header {
    border-bottom: 1px solid #E7E7E9;
    background-color: #eee;
    color: #007F7F;
}

.documented-header a {
    color: #007F7F;
}

.documented-header a:hover {
    color: #00b9b9;
}

/* Body */
/****************************************************************/
.documented-body {
    background-color: #007F7F;
}

.documented-content {
    background-color: #FFFFFF;
}

.documented-page-header {
    color: #007F7F;
}

.documented-author {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

.documented-date {
    color: #999;
    font-style: italic;
}

/* Sidebar */
.documented-sidebar {
    background-color: #F7F7F7;
    border-color: #E7E7E9;
}

/* Menu */
.documented-sub-menu .sub-menu-title,
.documented-sub-menu .sub-menu-title a,
.documented-sub-menu .menu-item a {
    color: #888;
}

.documented-sub-menu .menu-item-current,
.documented-sub-menu .menu-item-current a{
    font-weight: bold;
    color: #007F7F;
}

/* Footer */
/****************************************************************/
.documented-footer {
    border-top: 1px #2D2D2D;
    background-color: #eee;
    color: #007F7F;
}

.documented-footer a {
    color: #007F7F;
}

.documented-footer a:hover {
    color: #00b9b9;
}
