
body {
    background-color: #3F4657;
}

pre {
    background-color: #fff;
}

/* Header */
/****************************************************************/
.documented-header {
    border-bottom-color: #2D2D2D;
    background-color: #3F4657;
    color: #82BECD;
}

.documented-header a {
    color: #82BECD;
}

.documented-header a:hover {
    color: #a1ddec;
}

/* Body */
/****************************************************************/
.documented-body {
    background-color: #82BECD;
}

.documented-content {
    background-color: #FFFFFF;
}

.documented-page-header {
    color: #82BECD;
}

.documented-author {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

.documented-date {
    color: #999;
    font-style: italic;
}

/* Menu */
.documented-menu {
    background-color: #F7F7F7;
    border-color: #E7E7E9;
}

.documented-sub-menu .sub-menu-title,
.documented-sub-menu .sub-menu-title a,
.documented-sub-menu .menu-item a {
    color: #888;
}

.documented-sub-menu .menu-item-current,
.documented-sub-menu .menu-item-current a{
    font-weight: bold;
    color: #82BECD;
}

/* Footer */
/****************************************************************/
.documented-footer {
    border-top-color: #2D2D2D;
    background-color: #3F4657;
    color: #82BECD;
}

.documented-footer a {
    color: #82BECD;
}

.documented-footer a:hover {
    color: #a1ddec;
}
