
body {
    background-color: #35290e;
}

pre {
    background-color: #fff;
}

/* Header */
/****************************************************************/
.documented-header {
    border-bottom: 1px #2D2D2D;
    background-color: #35290e;
    color: #D77636;
}

.documented-header a {
    color: #D77636;
}

.documented-header a:hover {
    color: #ff9939;
}

/* Body */
/****************************************************************/
.documented-body {
    background-color: #D77636;
}

.documented-content {
    background-color: #FFFFFF;
}

.documented-page-header {
    color: #D77636;
}

.documented-author {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

.documented-date {
    color: #999;
    font-style: italic;
}

/* Menu */
.documented-menu {
    background-color: #F7F7F7;
    border-left-color: #E7E7E9;
}

.documented-sub-menu .sub-menu-title a,
.documented-sub-menu .menu-item a {
    color: #888;
}

.documented-sub-menu .menu-item-current,
.documented-sub-menu .menu-item-current a{
    font-weight: bold;
    color: #D77636;
}

/* Footer */
/****************************************************************/
.documented-footer {
    border-top: 1px #2D2D2D;
    background-color: #35290e;
    color: #D77636;
}

.documented-footer a {
    color: #D77636;
}

.documented-footer a:hover {
    color: #ff9939;
}
