<div class="documented-content-wrapper">
    <h2 class="documented-page-header">{{ document.meta.title }}</h2>

    <p>
        <span class="documented-author">{{ document.meta.author }}</span>
        <span class="documented-date">{{ document.meta.date }}</span>
    </p>

    <hr class="documented-header-line">

    {{ document.content | raw }}
</div>
