<div class="documented-links-list">
    {% for name, url in config.links %}
        <p class="documented-link-item">
            <a href="{{ url }}" target="_blank">{{ name }}</a>
        </p>
    {% endfor %}
</div>
