<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/res/bootstrap/dist/bootstrap.min.css">
    <link rel="stylesheet" href="/res/documented/styles.css">
    <link rel="stylesheet" href="/res/documented/blue.css"> {#TODO get theme name from config#}

    <script src="/res/modernizr/modernizr.js"></script>
    <script src="/res/jquery/dist/jquery.min.js"></script>
    <script src="/res/documented/ui.js"></script>

    <title></title>
</head>
<body>

</body>
</html>
