<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/res/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/highlight.js/src/styles/{{ config.highlight.style }}.css">
    <link rel="stylesheet" href="/res/documented/styles.css">
    <link rel="stylesheet" href="/res/documented/themes/{{ config.theme }}.css">

    <script src="/res/modernizr/modernizr.js"></script>
    <script src="/res/jquery/dist/jquery.min.js"></script>
    <script src="/res/documented/ui.js"></script>

    <title>{{ document.meta.title }} - {{ config.title }}</title>
</head>
<body>

{# Header #}
<div class="documented-header">
    {% include "header.twig" %}
</div>

{# Body #}
<div class="documented-body container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 documented-menu">
            {% include "menu.twig" %}
        </div>
        <div class="col-lg-7 col-md-9 documented-content">
            {% include "content.twig" %}
        </div>
    </div>
</div>

{# Footer #}
<div class="documented-footer container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 documented-links">
            {% include "links.twig" %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 documented-copyright">
            {% include "copyright.twig" %}
        </div>
    </div>
</div>

</body>
</html>
