
/* Header */
/****************************************************************/
.documented-header {
  padding: 5px 15px;
}

.documented-header h1 {
  margin: 5px 0;
  font-size: 18px;
}

/* Body */
/****************************************************************/
.documented-body {
  margin-left: -15px;
}

.documented-content-wrapper {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
}

.documented-page-header {
  margin-top: 10px;
}

.documented-author, .documented-date {
  font-size: 12px;
}

.documented-header-line {
  margin-top: 0;
}

/* Sidebar */
.documented-sidebar {
  border-right: 1px solid;
}

.documented-sidebar-collapser {
  margin: 10px 0 10px 15px;
  display: none;
}

@media (max-width: 991px) {
  .documented-sidebar-collapser {
    display: inline;
  }

  .documented-sidebar-collapsible.sidebar-collapsed {
    display: none;
  }
}

/* Copyright */
.documented-copyright {
  margin-left: 20px;
}

/* Menu */
.documented-menu-wrapper {
  padding-top: 10px;
}

.documented-sub-menu {
  padding-left: 20px;
}

.documented-menu-wrapper {
  display: none;
}

.documented-sub-menu .menu-item {
  padding-bottom: 5px;
}

.documented-sub-menu .sub-menu-title {
  padding-bottom: 5px;
}

.documented-sub-menu .menu-marker {
  font-size: 1em;
  cursor: pointer;
}

/* Bootstrap fixes */
/****************************************************************/

.img-responsive {
  display: inline;
}

/* Bootstrap column fix  */
/* http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */

.row-height {
  overflow: hidden;
}

.col-height {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
